@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'NunitoSans-Light', sans-serif;
}

@font-face {
    font-family: 'Anek Bangla Light';
    src: url('../assets/fonts/AnekBangla300.ttf');

}

@font-face {
    font-family: 'Anek Bangla Bold';
    src: url('../assets/fonts/AnekBangla500.ttf');
}


#container {
    width: auto;
    height: auto;
    margin: 0px auto;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 100px;
    background-color: #67C5C8;
    color: #fff;
    padding: 2%; /* Cambiado a porcentaje */
    overflow: auto;

}

#header img {
    width: 5%;
    height: 5%;
    padding: 5% 0 0 5%; /* Cambiado a porcentaje */
}
#header h2 {
    /* Asegúrate de que el tamaño de la fuente sea proporcional al tamaño del header */
    font-size: 2em; /* Cambia este valor según tus necesidades */
}

#logo {
    max-width: 100%;
    width: 32em;
    height: auto;
    margin-bottom: 20px;
}

h1,
h2 {
    text-align: center;
}

#page {
    float: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box_1 {
    display: flex;
    justify-content: left;
    width: 10%;
    height: 10%;
    margin: 15px;
    margin-top: 29px;
}

footer {
    width: 100%;
    background-color: #67C5C8;
    color: #fff;
    padding: 20px 0;
}

footer img {
    width: 86%;
    background-color: #67C5C8;
    padding-left: 14%;
}
/* W */

#empresa {
    display: flex;
    justify-content: center;
}

.element_empresa {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer_li {
    margin-left: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.menu {
    flex: content;
}

.menu_item {
    color: #ffffff;
    width: 50%;
    height: 100%;
    left: -100%;
    margin: 0;
    font-size: 30px;
}

.menu_item:hover {
    color: black;
    border: solid #67C5C8 1px;
    text-decoration: none;
    padding-right: 30px;
}

.navbar-inverse {
    height: 20%;
}

#box {
    float: left;
    width: 60%;
    padding-top: 1%;
    text-decoration: none;
    font-size: 50px;
    padding: 100px;
}
#my_nav .menu_item {
    margin: 10px 10px;
    font-family: "Anek Bangla Bold", sans-serif;
  }
  
 
  #cajon3 {
    display: flex;
    justify-content: center; 
    width: 30%; 
    margin: 15px;
    margin-top: 29px;
}
#botonVerSitioWeb {
    color: #10696b;
    border: #186f7e solid 2px;
    margin-left: 40px;
    margin-right: 20px;
    float: left;
}

#botonVerSitioWeb:hover {
    background-color: #67C5C8;
    color: white;
}
@media screen and (max-width: 506px) {
    #botonVerSitioWeb {
        color: #67C5C8;
        border: #67C5C8 solid 2px;
        margin-left: 40px;
        float: left;
    }
}

.startup_tittle {
    font-size: 45px;
    font-family: "Anek Bangla Bold", sans-serif;
    color: #67C5C8;
}

.startup_tittle:hover {
    color: black;
}

.sub_tittle {
    color: black;
}

.container2 {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-left: 10%;
    align-items: center;
}

#logo2 {
    max-width: 100%;
    width: 32em;
    height: auto;
    margin-bottom: 20px;
}

.description {
    flex: 1;
    padding-left: 20px;

}

#who_we_are_p {
    font-size: 30px;
    margin-right: 15%;
    margin-left: 10%;
    text-align: justify;
}

@media screen and (max-width: 1400px) {
    .container2 {
        display: flex;
        flex-wrap: wrap;
    }
    #who_we_are_p {
        font-size: 32px;
        color: black;
        text-align: justify;
        margin-right: 6%;
    }
}

@media screen and (max-width: 1200px) {
    #who_we_are_p {
        font-size: 23px;
        color: black;
        text-align: justify;
        margin-right: 6%;
    }
    .container2 {
        display: flex;
        flex-wrap: wrap;
    }
    .description {
        padding-left: 20px;
        margin-right: 6%;
    }
    #caracter_emerson {
        margin-left: 14em;
    }
    .mb-5:nth-child(3) {
        margin: 0 auto;
    }
    .mb-5:nth-child(3) img {
        max-width: 100px;
    }
}

@media screen and (max-width: 1080px) {
    .description {
        margin-right: 16%;
    }
    .container2 {
        display: flex;
        flex-wrap: wrap;
    }
    #who_we_are_p {
        font-size: 27px;
        color: black;
        text-align: justify;
        margin-right: 6%;
    }
}
@media screen and (max-width: 501px) {
    #who_we_are_p {
        font-size: 27px;
        text-align: justify;
        border: 1px solid black;
        padding-right: 4%;
        width: 11em;
    }
    #box {
        display: inline;
        font-size: 20px;
    }
    #menu_equipo {
        margin-left: 3em;
    }
    #caracter_emerson {
        margin-left: 0em;
    }
}